@font-face {
  font-family: "Roboto";
  src: url(https://fonts.googleapis.com/css?family=Roboto:300,500) format("truetype");
}

.parentFont h1, .parentFont b, .parentFont p, .parentFont span, .parentFont .rt-table {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  padding-right: 10%;
  padding-left: 10%;
}

.reactTable {
  width: 75%;
  float: right;
  display: block;
}

.title {
  font-size: 24px;
  font-weight: 500;
  display: block;
}

.filterBlock {
  background-color: lightgrey;
}

.filterBlock b {
  font-weight: 500;
}

.filterParent {
  width: 25%;
  padding: 0 5% 0 0;
  display: block;
  float: left;
}

.detailView {
  padding: 0 25% 0 25%;
}

.detailView b{
  display:block;
  font-weight: 500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
