@font-face {
  font-family: "Roboto";
  src: url(https://fonts.googleapis.com/css?family=Roboto:300,500) format("truetype");
}

.parentFont h1, .parentFont b, .parentFont p, .parentFont span, .parentFont .rt-table {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.main {
  padding-right: 10%;
  padding-left: 10%;
}

.reactTable {
  width: 75%;
  float: right;
  display: block;
}

.title {
  font-size: 24px;
  font-weight: 500;
  display: block;
}

.filterBlock {
  background-color: lightgrey;
}

.filterBlock b {
  font-weight: 500;
}

.filterParent {
  width: 25%;
  padding: 0 5% 0 0;
  display: block;
  float: left;
}

.detailView {
  padding: 0 25% 0 25%;
}

.detailView b{
  display:block;
  font-weight: 500;
}